<a href="https://colab.research.google.com/github/monteroanibal/CursoPython2025II/blob/main/notebooks/CP2025II_Sesion2_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<figure>
<center>
<img src='https://upload.wikimedia.org/wikipedia/commons/a/a2/Colombia_Dane_logo_%282%29.svg', height="75">
<figcaption>Departamento Administrativo Nacional de Estadística - DANE<br> Dirección de Censos y Demografía - DCD<br>GIT Investigación y Desarrollo</figcaption></center>
</figure>

**Sesión 2 - Un primer código en R - 05sep2025**

# 0. Hola mundo

Iniciamos con el clásico "Hola mundo", la forma tradicional de probar que todo está listo para empezar a programar en un nuevo lenguaje. Aquí imprimimos un mensaje en el notebook.

In [ ]:
print("Hola, mundo")

Lo escrito en citación, sea comilla simple o doble es el valor un tipo de dato llamado *string* o *cadena de caracteres*.

In [ ]:
"Hola, mundo"

# 1. Creación de variables

En R, una variable es un *nombre* que se asocia a un valor en memoria. En principio, no es necesario declarar su tipo de antemano: basta con asignar el valor, y R se encarga del resto.

## Creación de Variables y tipos de variables

Aquí se asigna un nombre al valor antes mencionado.

In [ ]:
frase <- "Hola, mundo"
frase

Utilizamos la función *print* para mostrar el valor de la variable.

In [ ]:
print(frase)

Lo siguiente es el valor un tipo de dato llamado *numeric*. El tipo de datos es verificable mediante la función *class()*.

In [ ]:
numero_0 <- 1234
class(numero_0)

Un valor numérico puede estar almacenado como string.

In [ ]:
numero_1 <- "1234"
class(numero_1)

El tipo de dato que permite dar cuenta de los valores lógicos *Verdadero* y *Falso* se llama *logical*.

In [ ]:
booleano_0 <- FALSE
booleano_1 <- TRUE
print(booleano_0)
print(booleano_1)

In [ ]:
booleano_0 <- F
booleano_1 <- T
print(booleano_0)
print(booleano_1)

In [ ]:
print(paste0( "Tipo de dato de la variable 'booleano_0': ", class(booleano_0) ))

## Limpiar variables creadas en la sesión

El siguiente comando permite revisar las variables que como usuarios en la sesión hemos creado, sea de forma automática o declaratoria.

In [ ]:
ls()

A continuación observamos cómo se libera el nombre de una variable particular.

In [ ]:
rm(numero_0)

In [ ]:
ls()

A continuación observamos cómo se liberan varios nombres de variables a la vez.

In [ ]:
rm(list=ls())

In [ ]:
ls()

## Algunos tipos de errores

A continuación, podemos observar el despliegue de algunos errores que nos es pertiniente revisar, tanto desde la intencionalidad de la sentencia, como del mensaje del error y el cómo se resolvería.

El caracter de numeral que precede la sentencia nos sirve para comentar una línea de código para que no sea ejecutada, por favor descomentar las siguientes y ejecutar cada caja una por una.

In [ ]:
#print(Hola, mundo)

In [ ]:
#print(true)

In [ ]:
print(TRUE)

In [ ]:
frase = "Hola, mundo"
#print(Frase)

In [ ]:
#print("Hola, mundo)

In [ ]:
pedazo_frase_1 <- "Hola,"
pedazo_frase_2 <- "mundo"

In [ ]:
#print(pedazo_frase_1 pedazo_frase_2)

# 2. Cadenas de caracteres

Las cadenas o strings son secuencias de texto. Pueden ir entre comillas simples o dobles. Son muy útiles para representar palabras, frases o cualquier información textual.

## Longitud de cadenas de caracteres

En primera medida, la función *nchar()* nos permite saber el número de caracteres de un string.

In [ ]:
pedazo_frase_1 <- "Hola,"
pedazo_frase_2 <- 'mundo'
nchar(pedazo_frase_1)

In [ ]:
nchar('Hola,')

## Concatenado de cadenas de caracteres

La función *paste0()* permite hacer el concatenado de cadenas de caracteres.

In [ ]:
print(paste0(pedazo_frase_1,pedazo_frase_2))

In [ ]:
paste0('Buenos' , ' ' , 'días.')

## Indexado en cadenas de caracteres

A continuación se presentan algunos ejemplos de extracción de una subcadena a partir de una cadena:
* contando de atrás hacia adelante y viceversa
* si es un caracter individual o múltiples caracteres

![indexin3.jpg]()

In [ ]:
ejemplo <- 'Buenos días.'

### Caracter individual

In [ ]:
print(substr(ejemplo,2,2))

In [ ]:
print( substr(ejemplo,nchar(ejemplo)-2,nchar(ejemplo)-2) )

In [ ]:
print( substr(ejemplo,17,17) )

In [ ]:
print( substr(ejemplo,-14,-14) )

### Multiples caracteres

In [ ]:
print( substr(ejemplo,nchar(ejemplo)-2,nchar(ejemplo)-2) )

In [ ]:
print( substr(ejemplo,nchar(ejemplo)-2,nchar(ejemplo)-1) )

In [ ]:
print( substr(ejemplo,3,3) )

In [ ]:
print( substr(ejemplo,3,6) )

In [ ]:
print( substr(ejemplo,14,20) )

In [ ]:
print( substr(ejemplo,-14,-10) )

## Salto de línea

A continuación, algunos ejemplos sobre cómo funciona el salto de línea dentro de una cadena de caracteres.

In [ ]:
cadena_larga_1 <- "Esta cadena de caracteres multilínea
es impresa en varias líneas"
cadena_larga_2 <- 'Esta cadena de caracteres multilínea
es impresa en varias líneas'

In [ ]:
cadena_larga_1

In [ ]:
print(cadena_larga_2)

In [ ]:
print("Esta cadena de caracteres multilínea\nes impresa en varias líneas")

## Citación

A continuación, algunos ejemplos sobre cómo se desambigua la citación al declarar el valor de una variable de cadena de caracteres.

In [ ]:
#texto <- "Me preguntó: "¿Qué hora es?""

In [ ]:
texto_1 <- "Me preguntó: '¿Qué hora es?'"
texto_1

In [ ]:
texto_2 <- 'Me preguntó: "¿Qué hora es?"'
texto_2

## Conversión en mayúsculas y minúsculas

A continuación, se muestran los métodos que permiten modificar las cadenas de caracteres entre minúsculas y mayúsculas.

In [ ]:
tolower(texto_1)

In [ ]:
texto_mayus = toupper(texto_1)
texto_mayus

In [ ]:
install.packages('Hmisc')

In [ ]:
Hmisc::capitalize(texto_mayus)

In [ ]:
tools::toTitleCase(texto_1)

In [ ]:
tools::toTitleCase(tolower(texto_mayus))

## Remover espacios a la derecha o a la izquierda

A continuación, se muestran los métodos que permiten eliminar espacios en blanco a la derecha e izquierda de las cadenas de caracteres.

In [ ]:
nombre <- "   Pepito Pérez  "

In [ ]:
trimws(nombre, which="left")

In [ ]:
trimws(nombre, which="right")

In [ ]:
trimws(nombre)

## Remplazar una subcadena dentro de una cadena de caracteres

A continuación, se muestra el método que permiten remplazar subcadenas de caracteres.

In [ ]:
ej1 <- 'Rafael Núñez  '

In [ ]:
gsub('ñ','ny', ej1)

In [ ]:
gsub('ñ','ny', gsub('ú','u', tolower(trimws(ej1))) )

# 3. Operadores aritméticos y de strings

Los operadores permiten realizar acciones con valores.

* Aritméticos: suma (+), resta (-), multiplicación (*), división (/), etc.
* En cadenas: no existen como en Python

Por favor ejecutar las siguientes celdas y descomentar para ejecutar aquellas que estén comentadas para revisar los resultados.

Por favor consultar en paralelo las notas de clase para comprender los resultados de las operaciones realizadas a continuacion.

In [ ]:
ls()

In [ ]:
rm(list=ls())

In [ ]:
16+3

In [ ]:
16-3

In [ ]:
16*3

In [ ]:
16**3

In [ ]:
16/3

In [ ]:
16/0

In [ ]:
16 %/% 3

In [ ]:
16%%3

In [ ]:
16%/%0

In [ ]:
16%%0

In [ ]:
num <- "2"
#num + num

In [ ]:
#"3" + 3

In [ ]:
num = "12"
#num * 3
paste(replicate(3, "12"), collapse = "")

In [ ]:
#"12" * "3"

In [ ]:
definir_numeric <- 12.9

In [ ]:
class(definir_numeric)

In [ ]:
class(definir_numeric)

In [ ]:
as.numeric("12.0")

In [ ]:
num_funcionarios <- 1398483

In [ ]:
enunciado <- paste0('Según datos oficiales de 2025 de Función Pública, hay aproximadamente ', num_funcionarios, ' servidores públicos en Colombia.')

In [ ]:
enunciado

In [ ]:
num_formato <- format(num_funcionarios, big.mark = ",")
enunciado <- paste0('Según datos oficiales de 2025 de Función Pública, hay aproximadamente ', num_formato, ' servidores públicos en Colombia.')

In [ ]:
enunciado

# 4. Números

Python maneja diferentes tipos numéricos:

* Enteros (int)
* Decimales (float)
* Complejos (complex) [*no se abarca esta parte*]

Con ellos podemos realizar cálculos y operaciones matemáticas básicas.

Por favor ejecutar las siguientes celdas para revisar los resultados.

Por favor consultar en paralelo las notas de clase para comprender los resultados de las operaciones realizadas a continuacion.

In [ ]:
1000000

In [ ]:
1e6

In [ ]:
class(1e6)

In [ ]:
print(3e-7)

In [ ]:
sprintf(3e-4, fmt = '%#.6f')

In [ ]:
ratio = 0.9
paste0( sprintf(ratio*100, fmt = '%#.1f'), "%" )

In [ ]:
2e400

In [ ]:
-2e400

In [ ]:
class(-2e400)

In [ ]:
2*3 - 1

In [ ]:
-1 + (-3*2 + 4)

In [ ]:
4/2 + 2**3

In [ ]:
0.1 + 0.2

## Funciones y métodos

Por favor ejecutar las siguientes celdas para revisar los resultados.

In [ ]:
round(2.34)

In [ ]:
round(2.34, 1)

In [ ]:
round(2.7)

In [ ]:
round(3.5)

In [ ]:
abs(5)

In [ ]:
abs(-5.0)

In [ ]:
2**(-2)

In [ ]:
2**3.5

In [ ]:
2^3.5

# 5. Factores, arreglos, Data Frames y Listas

Por favor consultar en paralelo las notas de clase para comprender los resultados de las operaciones realizadas a continuacion.

## Factores

In [ ]:
credit_rating <- c("AAA", "AA", "A", "BBB", "AA", "BBB", "A")

credit_factor_ordered <- factor(credit_rating, ordered = TRUE, levels = c("AAA", "AA", "A", "BBB"))

credit_factor_ordered

## Arreglos

In [ ]:
numeros1 <- c(1, 2, 3, 4, 5)
colores <- c("rojo", "verde", "azul")

numeros1

In [ ]:
numeros1 + 20

In [ ]:
numeros1 * 20

In [ ]:
numeros1 + numeros1

In [ ]:
numeros1 * numeros1

In [ ]:
a <- array(1:12, dim = c(2, 6))
a

In [ ]:
b <- matrix(1:12, nrow = 2, ncol = 6)
b

In [ ]:
a+b

In [ ]:
dim(a)

In [ ]:
numeros2 <- array(c(5,4,3,2,1), dim=c(5))
numeros2

In [ ]:
dim(numeros2)

In [ ]:
numeros1 + numeros2

## Data frames

In [ ]:
df <- data.frame(
  nombre = c("Ana", "Luis", "María"),
  edad = c(23, 35, 29),
  estudiante = c(TRUE, FALSE, TRUE)
)

In [ ]:
df

## Listas

In [ ]:
mi_lista <- list(
  numeros = c(1, 2, 3),
  texto = "R es poderoso",
  tabla = df
)

In [ ]:
mi_lista

In [ ]:
mi_lista$texto

In [ ]:
mi_lista$tabla$edad